.wishListOn {
  position: fixed;
  top: 6%;
  left: 6%;
  transition: 0.5s ease-out;
  width: 260px;
  height: 344px;
  background-color: #fef39c;
  display: flex;
  flex-direction: column;
}
.wishListOff {
  position: fixed;
  top: 6%;
  left: -200%;
  transition: 0.5s ease-in;
  width: 260px;
  height: 344px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.top {
  flex-basis: 25px;
  background-color: #fde93d;
}
.main {
  flex: 1;
}
.main textarea {
  background-color: #fef39c;
  width: 100%;
  height: 100%;
  border: none;
  white-space: pre;
  font-size: 1rem;
  padding: 5px;
}
.main textarea:focus {
  outline: none;
}
