* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  width: 100%;
  color: #121110;
}
a {
  text-decoration: none;
}
