.navOn {
  height: 100%;
  z-index: 2222;
  position: fixed;
  display: flex;
  top: 6%;
  left: -2%;
  transition: 0.7s;
  transform: rotate(0);
  perspective: 400px;
}
.navOn img {
  height: 100%;
  object-fit: cover;
}
.navOff {
  height: 100%;
  z-index: 2222;
  position: fixed;
  display: flex;
  top: 10%;
  left: 500%;
  transition: 1s;
  transform: rotate(60deg);
  perspective: 400px;
}
.navOff img {
  height: 100%;
  object-fit: cover;
}
.menuContainer {
  height: 100%;
  background-color: white;
  z-index: 3333;
  position: absolute;
  width: 200px;
  height: 140px;
  top: 59.5%;
  left: 11%;
  transform: rotateY(20deg);
  transform: rotateX(30deg);
  overflow-y: scroll;
}
.menu {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 400;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1.5rem;
}
.on {
  transform: scale(1.1);
  color: red;
}
